extends layout

block content

    .row
        .col.s12.m4 
            .card
                a.card-image.modal-trigger(href='#vis1') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009371/vis%20kolaz/vis2.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis2') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis9.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis3') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis3.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis10') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis10.jpg`)
        .col.s12.m4 
            .card 
                a.card-image.modal-trigger(href='#vis4') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis7.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis5') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009368/vis%20kolaz/vis5.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis6') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis1.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis11') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009368/vis%20kolaz/vis11.jpg`)
        .col.s12.m4 
            .card 
                a.card-image.modal-trigger(href='#vis7') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis8.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis8') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009368/vis%20kolaz/vis6.jpg`)
            .card 
                a.card-image.modal-trigger(href='#vis9') 
                    img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis4.jpg`)
     
            


                    


    .modal#vis1
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009371/vis%20kolaz/vis2.jpg` style='width: 85%;')
    .modal#vis2
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis9.jpg` style='width: 85%;')
    .modal#vis3
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis3.jpg` style='width: 85%;')
    .modal#vis4
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis7.jpg` style='width: 85%;')
    .modal#vis5
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009368/vis%20kolaz/vis5.jpg` style='width: 85%;')
    .modal#vis6
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis1.jpg` style='width: 85%;')
    .modal#vis7
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009369/vis%20kolaz/vis8.jpg` style='width: 85%;')
    .modal#vis8
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009368/vis%20kolaz/vis6.jpg` style='width: 85%;')
    .modal#vis9
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis4.jpg` style='width: 85%;')
    .modal#vis10
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis10.jpg` style='width: 85%;')
    .modal#vis11
        .modal-content(style="display: flex; justify-content: center")
            img(src=`https://res.cloudinary.com/sale01/image/upload/v1624009367/vis%20kolaz/vis11.jpg` style='width: 85%;')